@import url("https://fonts.googleapis.com/css?family=Open+Sans|Montserrat:300,400,900&display=swap");
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  max-width: 100%;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  overflow-x: hidden;
  background: var(--color-background);
  height: 100%;
}

body.dark-theme {
  overflow-x: hidden;
  background: var(--color-background);
  transition: background 0.3s;
}

:root {
  --main-font: "Montserrat", sans-serif;
  --body-font: "Open Sans", sans-serif;
}

html {
  font-family: var(--body-font);
  font-size: 10px;
  color: var(--body-font-color);
  scroll-behavior: smooth;
}

section {
  padding: 3.9rem 0;
  overflow: hidden;
}

@media screen and (min-width: 900px) {
  section {
    padding: 7.9rem;
  }
}

a {
  text-decoration: none;
}

a:hover {
  color: var(--secondary-font-color);
}

header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background: var(--color-white);
}

footer {
  padding: 2.9rem 0;
  background-color: var(--color-footer);
  color: var(--color-text-footer);
  text-align: center;
  position: absolute;
  bottom: -7.9rem;
  width: 100%;
}

:root {
  --main-font-color-dark: #252525;
  --secondary-font-color: #c59d5f;
  --body-font-color: #515151;
  --color-white: #fff;
  --color-footer: #121212;
  --color-copyright: #121212;
  --color-background: #f9f9f9;
  --color-background-hero: #f2f5fa;
  --color-background-nav: #252525;
  --color-btn: #252525;
  --color-twitter: #1da1f2;
  --color-github: #171515;
  --color-linkedin: #0a66c2;
  --btn-text-white: #fff;
  --color-text-footer: #fff;
  --text-nav-mobile: #fff;
  --top-site-link: #fff;
  --text-badges: #fff;
  --margin-top-section: 3.9rem;
  --margin-bottom-title: 2.5rem;
}

:root.dark-theme {
  --main-font-color-dark: #fff;
  --body-font-color: #fff;
  --color-background-hero: #bdc0c4;
  --color-white: #303030;
  --color-footer: #222222;
  --color-btn: #fff;
  --color-copyright: #29262b;
  --color-background: #121212;
}
